@import url("components/Banner.css");
@import url("components/Profil.css");
@import url("components/Menu.css");
@import url("components/Formation.css");
@import url("components/Langues.css");
@import url("components/Competences.css");
@import url("components/Contact.css");
@import url("components/Cartes.css");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9e3dd;
  width: 100%;
}


h1 {
  color: #012751;
  font-weight: bold;
  font-size: 2rem ;
  text-align: center;
  margin:  0% 0 1% 0;
}

footer {
  background-color: #012751;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  color: white;
  font-style: system-ui;
  font-weight: lighter;
  margin: 0 0 0 0;
  font-size: 0.8rem;
}

