.banner {
	background-image: linear-gradient(125deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 125%), url(../../Images/Profil/banner.png);
	background-size: cover;
	background-position: center;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding:  0% 4% 1% 4%;
  -webkit-box-shadow: 0px 0px 20px 2px #000000;

}


.banner h1 {
	font-family: "Gill Sans";
	color: white;
	font-weight: 300;
  	font-size: 6rem;
	text-align: left;
	margin:  0% 0 2% 0;
}

.banner h2 {
	font-size: 1.5rem;
	font-family: system-ui;
	font-weight: lighter;
	margin: 0% 0 2% 0;
	color: white;
}

.banner h3 {
	font-size: 1rem;
	font-weight: lighter;
	font-family: system-ui;
	opacity: 0.8;
	margin: 0% 0 3% 0;
	color: white;
}

.btnbanner {
    background-color: #e9e3dd;
    border: none;
    color: #012751;
    padding: 15px 32px;
	font-size: 1rem;
	font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


.btnbanner:hover {
	color: black;
	opacity: 0.9;
    text-decoration: none;
}

@media screen and (min-width: 1400px) {
	.banner {
		height: 900px;
	}
}

@media screen and (max-width: 992px) {
.banner {
	height: 800px;
	margin: 0 0 0 0;
	padding:  0% 5%;
	background-position: 70%;
    background-size: cover;
}

.banner h1 {
	font-size: 4rem;
	margin:  0% 0 5% 0;
}

.btnbanner {
    padding: 10px 22px;
	font-size: 0.8rem;
}

.banner h2 {
	font-size: 1rem;
	margin: 0% 0 6% 0;
}

.banner h3 {
	font-size: 0.8rem;
}

}



@media screen and (max-width: 600px) {
.banner {
	height: 800px;
	padding:  0% 5%;
	margin: 0 0 0 0;
	background-position: 70%;
    background-size: cover;
}

.banner h1 {
	font-size: 4rem;
	margin:  0% 0 5% 0;
}

.btnbanner {
    padding: 10px 22px;
	font-size: 0.8rem;
}

.banner h2 {
	font-size: 1rem;
	margin: 0% 0 6% 0;
}

.banner h3 {
	font-size: 0.8rem;
}

}




