.experiencepro {
  padding: 4% 2% 0% 2%;
}

.experiencepro h1 {
  color: #012751;
  font-weight: bold;
  font-size: 2rem ;
  text-align: center;
}

.mescartes {
  margin: 0 auto !important;
  padding: 2% 0 6% 0;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row !important;
  align-content: center !important;
  justify-content: center !important;
  gap:  5%;
}

.carte_entier {
  position: relative;
  display: block;
  height: 500px;
  width: 75%;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 3%;
}

.cartes_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width:  100%;
}


.cartes_container h4 {
  text-align: left;
  color: #012751;
  font-size: 2rem;
  font-family: system-ui;
  margin:  0% 0 2% 0; 
}


.cartes_container p {
  font-family: system-ui;
  font-weight: normal;
  text-align: left;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 1%;
}

.cartes_container ul {
  margin: 1% 1% 0 3%;
  padding: 0;
}

.cartes_container li {
  font-family: system-ui;
  text-align: left;
  font-weight: normal;
  color: black;
  font-size: 0.80rem;
  margin:  0 0 1% 0;
  list-style: georgian outside; 
}


.cartes_suite {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}


.cartes_dessus {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.cartes_dessus path {
  fill: #012751;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
} 


.cartes_header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #012751;
  gap: 3%;
  height: 100px;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  transform: translateY(-100%);
}


.cartes_header_text h3 {
  font-family: system-ui;
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}


.cartes_header_text h5 {   
  color: #a0a0a0;
  font-size: 0.9rem;
  font-family: system-ui;
  font-weight: lighter;
}


.cartes_header img {
  width: 75px;
  height: 75px;      
  border-radius: 100%;
  background-color: white;
  filter: drop-shadow( 4px 4px 8px rgba(0, 0, 0, .7));
  margin-left: 4%;
}


:root {
  --surface-color: #fff;
  --curve: 40;
}


.carousel-control-prev-icon {
  background-color: black;
  padding:  15px 10px;
}

.carousel-control-next-icon {
  background-color: black;
  padding:  15px 10px;
}

.cartes_container hr { 
    display: block;
    height: 2px;
    border-radius: 20px;
    width: 10%;
    background-color: #012751;
    margin: 0 0 2% 0;
}

@media screen and (max-width: 992px) {
.carte_entier {
  height: 400px;
  border-radius: 40px;
  padding: 3%;
}

.experiencepro {
  padding: 10% 2% 0% 2%;
}

.mescartes {
  padding-bottom: 10%;
  padding-top: 5%;
}

.cartes_header {
  gap: 3%;
  height: 70px;
}

.cartes_container h4 {
  font-size: 1rem;
  margin: 5% 0 3% 0;
}


.cartes_container p {
  font-size: 0.8rem;
  margin: 0 0 1% 0;
}


.cartes_container li {
  font-size: 0.6rem;
  text-align: left;
}


.cartes_container ul {
  padding: 0;
}


.cartes_header_text h3 {
  font-size: 0.6rem;
} 
.cartes_header_text h5 {   
  font-size: 0.6rem;
}

.cartes_header img {
  width: 40px;
  height: 40px; 
  margin-left: 10%;    
}

.cartes_container hr { 
  height: 2px;
}

.cartes_dessus {
  width: 0px;
}

}


@media screen and (max-width: 600px) {
.carte_entier {
  height: 350px;
  border-radius: 40px;
  padding: 3%;
}


.cartes_header {
  gap: 3%;
  height: 70px;
}

.cartes_container h4 {
  font-size: 1rem;
  margin: 5% 0 3% 0;
}


.cartes_container p {
  font-size: 0.8rem;
  margin: 0 0 1% 0;
}


.cartes_container li {
  font-size: 0.6rem;
  text-align: left;
}


.cartes_container ul {
  padding: 3%;
}


.cartes_header_text h3 {
  font-size: 0.6rem;
} 
.cartes_header_text h5 {   
  font-size: 0.6rem;
}

.cartes_header img {
  width: 40px;
  height: 40px; 
  margin-left: 10%;    
}

.cartes_container hr { 
  height: 2px;
}

.cartes_dessus {
  width: 0px;
}

.mescartes {
  padding-bottom: 10%;
  padding-top: 5%;
}

}



