.Contact {
	height: 200px;
	background-color: #012751;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contactcontainer {
	display: flex;
	align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.contactlinkedin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactmail {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactcv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Contact h1 {
  color: white;
  font-weight: bold;
  font-size: 30px ;
  padding: 0.5% 0 0 0;
  margin-bottom: 2%;
  text-align: left;
}

.Contact h2 {
	font-size: 1.5rem;
	margin-bottom: 25px;
	font-family: system-ui;
	font-weight: lighter;
	color: white;
}

.btncontact {
    border: none;
    color: white;
    padding: 15px 32px;
	font-size: 1rem;
	font-family: system-ui;
	font-weight: lighter;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}


.btncontact:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
}


.Contact img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60px;
  cursor: pointer;
}

.Contact img:hover {
	opacity: 0.8;
}




@media screen and (max-width: 992px) {
.Contact h2 {
	font-size: 1rem;
	text-align: center;
}
}

@media screen and (max-width: 600px) {
.Contact h2 {
	font-size: 1rem;
	text-align: center;
}

}