.formations {
  display: flex;
  padding: 4% 0 4% 0;
  background-color: #f9f7f5;
  -webkit-box-shadow: 0px 0px 15px 1px #000000;

}

.formations th {
  width: 50%;
  justify-content: center;
}

.formations tr {
  display: flex;
  flex-direction: row;
  table-layout: fixed;
}

.formations table img {
  width: 85%;
  margin: 0 0% 0% 9%;
  filter: drop-shadow( 4px 4px 8px rgba(0, 0, 0, .7));
}

.formations h1 {
  color: #012751;
  font-weight: bold;
  font-size: 30px ;
  padding: 5% 0 0 0;
  text-align: left;
}


.myformation ul {
  list-style-type: none;
  padding: 0;
  padding: 1% 0 0% 0;
}

.myformation h2 {
  font-style: Arial, sans-serif;
  text-align: left;
  font-weight: bold;
  color: c8ad7f;
  font-size: 1rem;
  margin : 0.5% 0 0 0;
}

.myformation h3 {   
  color: #a0a0a0;
  font-size: 0.80rem;
  margin : 0.5% 0 0 0;
  text-align: left;
}

.myformation h4 {
  font-style: system-ui;
  font-weight: lighter;
  text-align: left;
  color: black;
  font-size: 0.70rem;
  margin : 0.5% 0 0 0;
  text-transform: uppercase;
}

.myformation ul p {
  font-style: system-ui;
  text-align: left;
  color: black;
  font-weight : normal;
  font-size: 0.80rem;
  margin : 0.5% 0 0 0;
}




@media screen and (max-width: 992px) {
.formations tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:  0% 5% 1% 5%;
}

.formations {
  padding: 8% 0 3% 0;
}

.formations table img {
  width: 75%;
}

.formations th {
  width: 100%;
  justify-content: center;
}

.formations h1 {
  text-align: center;
}

.myformation h2 {
  text-align: center;
}

.myformation h3 {   
  text-align: center;
}

.myformation h4 {
  text-align: center;
}

.myformation ul p {
  text-align: center;
}
}


@media screen and (max-width: 600px) {
.formations tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:  0% 5% 1% 5%;
}

.formations table img {
  width: 75%;
}

.formations th {
  width: 100%;
  justify-content: center;
}
}

