.complementaire {
    padding:  4% 0 4% 0;
}

.langues_titre h1 {
    color: #012751;
    font-weight: bold;
    font-size: 2rem ;
    text-align: center;
}

.Langues_Certifs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Langues_Certifs .Langues_Certifs_card { 
    cursor: pointer;
}

.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes {
    width: 350px;
    height: 200px;
    transition: 0.9s;
}

.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes.partie_une {
	position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.Langues_Certifs .Langues_Certifs_card:hover .Langues_Certifs_cartes.partie_une{
    background: #012751;
    transform: translateY(0);
}

/*ok */
.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes.partie_une .Langues_Certifs_contenu{
    opacity: 0.2;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
	align-items: center;
}

.Langues_Certifs .Langues_Certifs_card:hover .Langues_Certifs_cartes.partie_une .Langues_Certifs_contenu{
    opacity: 1;
}

.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes .Langues_Certifs_contenu img{
    width: 33%;
}

.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes.partie_une .Langues_Certifs_contenu h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes.partie_deux {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.Langues_Certifs .Langues_Certifs_card:hover .Langues_Certifs_cartes.partie_deux{
    transform: translateY(0);
}

.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes.partie_deux .Langues_Certifs_contenu img{
    width: 16%;
    padding: 2%;
}

.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes.partie_deux .Langues_Certifs_contenu {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.Langues_Certifs .Langues_Certifs_cartes.partie_deux .Langues_Certifs_contenu p {
    font-family: system-ui;
    color: black;
    font-weight : normal;
    font-size: 0.80rem;
    margin: 0;
    padding-left: 2%;
    width: 70%;
}

.Langues_Certifs .Langues_Certifs_cartes.partie_deux .mpolki  {
    width: 80%;
}

.Langues_Certifs .Langues_Certifs_cartes.partie_deux .mpolki p {
    font-family: system-ui;
    color: black;
    font-weight : normal;
    font-size: 0.75rem;
    margin: 0;
    padding-left: 5%;
    width: 100%;
    margin-bottom: 1%;

}

@media screen and (max-width: 992px) {
.complementaire {
    padding-top:  10%;
    padding-bottom: 10%;
}

.Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes {
    width: 250px;
    height: 200px;
    transition: 0.8s;
}

.Langues_Certifs{
    gap: 5%;
}


}
    
    @media screen and (max-width: 600px) {
        .Langues_Certifs .Langues_Certifs_card .Langues_Certifs_cartes {
            width: 250px;
            height: 200px;
            transition: 0.5s;
        }
    }

