.menu {
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  top:  0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
  height: 60px;
  position: absolute ;
}

.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto 2% auto 2%;
  width: 100%;
}

.menu li {
  margin: 0 auto 0 0;
}


.menu li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}


.menu a:hover {
  border-bottom: 1px solid #CF2400;

}

.menu img {
  width: 40px;
}

@media screen and (max-width: 992px) {
.menu li {
  padding-right: 1%;
  align-items: center;
}

.menu li a {
  font-size: 15px;
}

.menu img {
  width: 30px;
  margin-left: 20px;
} 

.menu {
  height: 80px;

}

.menu ul {
  padding: 0;
}

}


@media screen and (max-width: 600px) {
.menu li {
  align-items: center;
}

.menu li a {
  font-size: 10px;
}

.menu img {
  width: 30px;
}

.menu {
  height: 60px;
}

.menu ul {
  padding: 0;
}

}