.nav-item a:hover {
  border-bottom: 1px solid #CF2400;

}

.navbar-brand img {
  width: 60px;
}


.navbar-expand-lg .navbar-nav {
  font-size: 25px;   
  list-style-type: none;  
  margin: auto 2% auto 2%; 
  gap: 10%;
}

@media screen and (max-width: 2000px) {
	.navbar-expand-lg .navbar-nav {
		gap: 30% !important;
	}
}

@media screen and (max-width: 1685px) {
  .navbar-expand-lg .navbar-nav {
    gap: 15% !important;
  }
}

@media screen and (max-width: 1250px) {
  .navbar-expand-lg .navbar-nav {
    gap: 5% !important;
  }
}

@media screen and (max-width: 992px) {
.navbar-expand-lg .navbar-nav {
  gap: 5% !important;
}

}


@media screen and (max-width: 600px) {
  .navbar-expand-lg .navbar-nav {
    gap: 10% !important;
  }
}