.myprofil {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin:  0% 4% 0% 4%;
	padding: 2% 0 3% 0;
}

.myprofil h1 {
  color: #012751;
  font-weight: bold;
  font-size: 30px ;
  padding: 0.5% 0 0 0;
  margin-bottom: 2%;
  text-align: left;
}

.myprofil img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  filter: drop-shadow( 4px 4px 8px rgba(0, 0, 0, .7));
  margin: 3% 5% 2% 10%;
}

.myprofil p {
	font-style: system-ui;
	font-weight: lighter;
	text-align: justify;
	color: black;
	font-size: 1rem;
	margin: 0% 0 1% 0;
}

.myprofil h2 {
	color: black;
	font-style: system-ui;
	font-weight: bold;
	font-size: 1.1rem;
	margin: 2% 0 0.5% 0;
	text-align: right;
}

.myprofil h3 {
	color: black;
	font-weight: lighter;
	font-style: system-ui;
	font-size: 1.1rem;
	margin: 0 0 0 0;
	text-align: right;
}





@media screen and (max-width: 992px) {
.myprofil {
    display: flex;
    flex-direction: column;
    align-items: center;
  	padding-top: 10%;
  	padding-bottom: 10%;
  }

  .myprofil img {
	width: 350px;
	margin: 12% 0% 3% 0%;
  }
}

@media screen and (max-width: 600px) {
.myprofil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.myprofil img {
	width: 350px;
	margin: 12% 0% 3% 0%;
	}
}
